*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}

/* background image set */
header{
    background-image: url('banner2.png');
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 100px;

}

/* head er text er alignment  */
.header-design{
    text-align: right;
    padding-top: 100px;
    padding-left: 845px;
    padding-right: 230px;
    
}

/* background er h1 er decoration */

.first-header{
    font-weight: 700;
    font-size: 35px;
    color: #151414;
    padding-bottom: 24px;
}

/* head er paragraph er design */
.first-paragraph{

    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding-bottom: 30px;


}

/* head er button er design */
.btn-primary{
    width: 160px;
    height: 64px;
    background-color: #f0622a;
    border-radius: 5%;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;

}

.design-flex{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px; 
    gap: 115px;
}

/* for all text */
.text-design{
    padding-top: 190px;
    text-align: left;
}

/* second-header */

.second-header{
    font-weight: 700;
    font-size: 45px;
    color: #151414;
    padding-bottom: 30px;
}

/* second-paragraph */
.second-paragraph{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding-bottom: 20px;

}

ul{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding-bottom: 40px;
}

/* third-head */
.third-head{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding-bottom: 60px;
}

.img-flex{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin: 0 250px;
    /* align-items: center; */
}

.img-design{
    margin-left: 90px;
    margin-bottom: 10px;
}

.design-h{
    width: 270px;
    height: 35px;
    color: #151414;
    text-align: center;
    padding-bottom: 5px;
}

.design-p{
    font-weight: 500;
    font-size: 20px;
    color: #737272;
    text-align: center;
    margin-bottom: 100px;
}

/* footer */
footer{
    display: flex;
    gap: 352px;
    background: #151414;
    padding: 100px 0;

}

.div-design1{
    padding-left: 50px;
}

.div-design2{
   padding-right: 150px;
}

.style-h1{
    font-weight: 700;
    font-size: 40px;
    color: #F8F8F8;
    padding-bottom: 20px;
}

.style-p{
    font-weight: 400;
font-size: 16px;
color: #FFFFFF;
padding-bottom: 15px;
padding-right: 200px;
}

.again-h1-style{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    padding-bottom: 20px;

}

input{
    height: 40px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 8%;
    border: 1px solid white;
    padding-left: 10px;
    color: #F3F3F3;
    background-color: #151414;
}

.btn-secondary{
    width: 120px;
    height: 45px;
    border-radius: 8%;
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
}

.style-gradient{
    background-image: linear-gradient(to right, #ff00005e , #ffffff59), url('watch.png');
    height: 100px;
    background-repeat: no-repeat;
    margin-bottom: 130px;
    background-position: center;
    background-size: cover;
    margin-left: 230px;
    margin-right: 230px;
    border-radius: 2%;
    padding-top: 67px;
    padding-left: 64px;
    padding-bottom: 60px;
    padding-right: 550px;

}

.final-style{
    color: #FFFFFF;
    padding-bottom: 20px ;
    /* padding-right: 0px; */
}